<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_K4VHhE2-2SIEKkOHmJ8wrHOX2V2NhPc</string>
	<key>GCM_SENDER_ID</key>
	<string>710426626179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.codeotreasure</string>
	<key>PROJECT_ID</key>
	<string>code-o-treasure-41o91u</string>
	<key>STORAGE_BUCKET</key>
	<string>code-o-treasure-41o91u.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710426626179:ios:23bac17745dcb71f63b3b6</string>
</dict>
</plist>